################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestRSSolution/ReportingServiceWebJob/obj
/TestRSSolution/ReportingServiceWebJob/bin/Release/netcoreapp3.1
/TestRSSolution/.vs/TestRSSolution
/.vs
