<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://reportingservicefunction20220331042420.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c34b492b-56d1-4226-95d1-426b7e63f2c7/resourcegroups/reportingservicedemo/providers/Microsoft.Web/sites/ReportingServiceFunction20220331042420</ResourceId>
    <UserName>$ReportingServiceFunction20220331042420</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://reportingservicefunction20220331042420.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>